body{
}

.grid{
  display: grid;
  gap: 10px;
  height: 50vh;
  grid-template-columns: repeat(7, 100px);
  grid-auto-flow: rows;   /*grid를 overflow할 경우에 grid-auto-flow의 value가 columns일경우 column을 더 추가하는 방식으로 overflow를 처리한다. defalut = rows*/
  grid-auto-columns: 100px
} 
.header{  
  background-color: red;
  color: white;
}
.content{
  background-color: rgb(105, 105, 173);
  color: white;
}
.item{
  color: red;
}
.item:nth-child(odd){ /*solo*/
background-color: greenyellow;
}
.item:nth-child(even){ /*couple*/
background-color: blue;
}