.body{
}

.grid{
  display: grid;
  gap: 10px;
  height: 50vh;
  /*min-content는 content가 나타날수 있는 최소한의 width를 의미?? */
  /*max-content는 content가 나타날수 있는 최대한의 width를 의미?? */
  /*rows에서 사용시 error emerged*/
  /*row 수를 고정시키면 min-content 이하로 브라우저 크기가 줄경우 스크롤이 생긴다.*/
  /*auto-fit, auto-fill의 경우는 elements를 내려버림*/
  grid-template-columns: repeat(7, minmax(min-content, 100px)); 
  grid-auto-rows: 100px;
} 
.header{  
  background-color: red;
  color: white;
}
.content{
  background-color: rgb(105, 105, 173);
  color: white;
}
.item{
  color: red;
}

/*item 클래를 가지는 component중 몇번째 자식~*/
.item:nth-child(odd){ /*solo*/
background-color: greenyellow;
}
.item:nth-child(even){ /*couple*/
background-color:  aqua;
}