@import "_variables";
@import "_mixins";

h2{
	color: $bg;
}

/*& means itself in scss*/
a{
	display: block;
	margin-bottom: 12px;
	&:nth-child(odd){  /*odd = couple*/
		@include SetColor1(red);
	}
	&:nth-child(even){
		@include SetColor2('even');
	}
}
